<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-item lines="none" *ngIf="usuario.foto">
    <img [src]="preview" (click)="alterarFoto()" *ngIf="preview">
    <img src="assets/perfil.png" (click)="alterarFoto()" *ngIf="!preview">
  </ion-item>

  <ion-item lines="none" *ngIf="!usuario.foto">
    <img [src]="preview" (click)="alterarFoto()" *ngIf="preview">
    <img src="assets/perfil.png" (click)="alterarFoto()" *ngIf="!preview">
  </ion-item> -->

  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
    <ion-text>{{user.nome}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-text>{{user.email}}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list style="margin-top: 20px">
    <section>
      <ion-button color="warning" style="margin-left: 15px">Mudar senha</ion-button>
      <ion-button color="warning" style="margin-left: 35px">mudar E-mail</ion-button>
    </section>
  </ion-list>
 
</ion-content>
