<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-item lines="none" *ngIf="usuario.foto">
    <img [src]="preview" (click)="alterarFoto()" *ngIf="preview">
    <img src="assets/perfil.png" (click)="alterarFoto()" *ngIf="!preview">
  </ion-item>

  <ion-item lines="none" *ngIf="!usuario.foto">
    <img [src]="preview" (click)="alterarFoto()" *ngIf="preview">
    <img src="assets/perfil.png" (click)="alterarFoto()" *ngIf="!preview">
  </ion-item> -->

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
            <ion-input placeholder="{{user.nome}}" type="text" name="upName" [(ngModel)]="upName" required
               #username="ngModel"></ion-input>
          <ion-button color="warning" (click)="changeName()" [disabled]="(!username.value)">Mudar Nome</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Novo E-mail</ion-label>
            <ion-input placeholder="{{user.email}}" type="email" name="updateemail" [(ngModel)]="updateemail" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #useremail="ngModel"></ion-input>
          <ion-button color="warning" (click)="changeEmail()" [disabled]="useremail.invalid || (!useremail.value)">Mudar E-mail</ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nova Senha</ion-label>
            <ion-input type="password" name="upPassword" [(ngModel)]="upPassword" required
              #userpass="ngModel"></ion-input>
          <ion-button color="warning" (click)="ChangePass()" [disabled]="(!userpass.value)">Alterar Senha</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
